@font-face {
  font-family: "Pixel";
  src: url("pixel.otf") format("opentype");
}

body, html {
  position: fixed;
  -webkit-overflow-scrolling: auto;
}

html {
  height: 100%;
}

body {
  background: #687784;
  font-family: "Pixel";
  overscroll-behavior: contain;
  height: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 8px;
  left: 0;
  right: 0;
  margin: 0 auto;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

h1.h1-title {
  font-size: 55px;
  color: #ffffff;
  text-shadow: 2px 2px #000000;
}

h1.h1-title span {
  color: #ff3535;
}

.button-mini {
  padding: 3px;
  background: #ffdd35;
  -webkit-box-shadow: 2px 2px #84691e;
          box-shadow: 2px 2px #84691e;
  cursor: pointer;
  min-width: 110px;
  text-align: center;
  font-size: 13px;
  border-radius: 2px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.button-mini:hover {
  background: #ffe565;
}

.button-setting {
  padding: 6px 10px;
  background: #ffdd35;
  -webkit-box-shadow: 2px 2px #84691e;
          box-shadow: 2px 2px #84691e;
  cursor: pointer;
  min-width: 120px;
  text-align: center;
  font-size: 16px;
  border-radius: 2px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.button-setting:hover {
  background: #ffe565;
}

.buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.button {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  padding: 7px 15px;
  background: #ffdd35;
  -webkit-box-shadow: 4px 4px #84691e;
          box-shadow: 4px 4px #84691e;
  cursor: pointer;
  min-width: 110px;
  text-align: center;
  font-size: 22px;
  border-radius: 2px;
}

.button:hover {
  background: #ffe565;
}

.canvas-wrap {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.canvas-wrap h1, .canvas-wrap h2 {
  margin: 0 0 15px 0;
  color: #fff;
  text-shadow: 3px 3px #000;
}

.canvas-wrap .h1-died {
  color: #ff3535;
  text-transform: uppercase;
  font-size: 50px;
}

.canvas-wrap h2 {
  font-size: 26px;
}

.canvas-wrap .h1-pause {
  font-size: 50px;
  color: #ffbc41;
  text-transform: uppercase;
}

.canvas-wrap .button {
  margin-top: 10px;
}

.canvas-wrap .wrap {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: #00000050;
  height: 100%;
  width: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 40px 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: none;
}

.canvas-wrap .wrap > div {
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.canvas-wrap .wrap[data-show="start"] {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.canvas-wrap .wrap[data-show="start"] #window-start {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.canvas-wrap .wrap[data-show="setting"] {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.canvas-wrap .wrap[data-show="setting"] #window-setting {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.canvas-wrap .wrap[data-show="endgame"] {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.canvas-wrap .wrap[data-show="endgame"] #window-endgame {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.canvas-wrap .wrap[data-show="pause"] {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.canvas-wrap .wrap[data-show="pause"] #window-pause {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.legends {
  margin-left: 10px;
  padding-top: 25px;
}

.legends > div {
  margin: 0 0 1px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 14px;
}

#score {
  text-align: center;
  margin-right: 10px;
}

.info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 18px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.info > div {
  margin: 0 3px;
}

.blockinfo {
  font-size: 13px;
  color: #99a6b1;
  word-wrap: break-word;
  margin-left: 10px;
  margin-top: 10px !important;
}

.blockinfo div {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.blockinfo .mobile {
  display: none;
  margin: 10px 0;
  text-align: center;
}

.eat {
  margin-right: 5px;
  height: 14px;
  width: 14px;
}

.eat.notopen::after {
  content: '??';
  text-align: center;
  padding-left: 2px;
}

@media screen and (max-width: 979px) {
  main {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.timers {
  margin-bottom: 10px;
  height: 12px;
  overflow: hidden;
}

.timers .timer {
  height: 3px;
  width: 100%;
  -webkit-transition: width 1s ease;
  transition: width 1s ease;
}

.block-column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media only screen and (min-height: 700px) {
  .legends .eat {
    margin-right: 7px;
  }
  .legends > div {
    font-size: 15px;
  }
}

@media only screen and (max-height: 580px) {
  .move-buttons {
    bottom: 25px !important;
  }
  footer {
    display: none;
  }
  .legends {
    padding-top: 0px !important;
  }
  .legends > div {
    font-size: 13px;
    margin-bottom: -2px !important;
  }
  .legends .eat {
    height: 13px;
    width: 13px;
  }
}

.button-setting-open {
  display: none;
}

@media only screen and (max-width: 500px) {
  .button-setting-open {
    display: block;
  }
  .block-column {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: -webkit-min-content;
    width: -moz-min-content;
    width: min-content;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  footer {
    margin-bottom: 5px !important;
  }
  .timers {
    margin-bottom: 3px;
  }
  .legends {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding-top: 5px;
    margin: 0;
  }
  .legends > div {
    margin: 0 0 0 5px;
  }
  .blockinfo {
    margin-left: 0;
  }
  .blockinfo .pc {
    display: none !important;
  }
  .blockinfo .mobile {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

footer {
  text-align: center;
  font-size: 13px;
  font-family: sans-serif;
  text-align: center;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin-bottom: 15px;
}

footer a {
  color: #b3b3b3;
  font-weight: bold;
  text-decoration: none;
  outline: none;
}

footer a:hover {
  text-decoration: underline;
}

@-webkit-keyframes progress {
  from {
    width: 0%;
  }
  to {
    width: 100%;
  }
}

@keyframes progress {
  from {
    width: 0%;
  }
  to {
    width: 100%;
  }
}

.button-mini.move {
  position: absolute;
  width: 50px;
  min-width: 50px;
  height: 50px;
  outline: none !important;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-tap-highlight-color: transparent;
}

.button-mini.move:hover {
  background: #ffdd35 !important;
}

.button-mini.move::after {
  width: 0;
  height: 0;
  content: ' ';
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  margin: auto;
}

@media screen and (min-width: 370px) {
  .move-buttons {
    width: 270px !important;
    height: 175px !important;
  }
  .button-mini.move {
    position: absolute;
    width: 70px;
    min-width: 0;
    height: 70px;
  }
}

.mobile[data-type="swipe"] > span {
  display: block;
}

.mobile[data-type="swipe"] > div {
  display: none;
}

.mobile[data-type="buttons"] > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.mobile[data-type="buttons"] > span {
  display: none;
}

.pause-toogle {
  width: 50px;
  min-width: 50px;
}

.move-buttons {
  width: 190px;
  height: 125px;
  /* display: flex; */
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  bottom: 60px;
}

div#move_left {
  left: 0;
}

div#move_left::after {
  border-top: 7px solid transparent;
  border-bottom: 7px solid transparent;
  border-right: 7px solid #000;
}

div#move_right {
  right: 0;
}

div#move_right::after {
  border-top: 7px solid transparent;
  border-bottom: 7px solid transparent;
  border-left: 7px solid #000;
}

div#move_up {
  top: 0;
}

div#move_up::after {
  border-left: 7px solid transparent;
  border-right: 7px solid transparent;
  border-bottom: 7px solid #000;
}

div#move_down {
  bottom: 0;
}

div#move_down::after {
  border-left: 7px solid transparent;
  border-right: 7px solid transparent;
  border-top: 7px solid #000;
}

#windows-setting .button-mini {
  padding: 6px 13px;
}

.ingame, .allingame {
  position: absolute;
  top: 3px;
}

.allingame {
  right: 5px;
}

.ingame {
  left: 0;
  right: 0;
  margin: auto;
  text-align: center;
}

.messages {
  position: absolute;
  right: 0;
  left: 0;
  bottom: -20px;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.message {
  position: absolute;
  color: #fff;
  text-shadow: 2px 2px #000;
  z-index: 99;
  /* width: max-content; */
  /* align-items: center; */
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  opacity: 0;
  visibility: hidden;
  font-size: 20px;
}

.show {
  -webkit-animation: fadeIn 1.0s;
          animation: fadeIn 1.0s;
  -webkit-animation-timing-function: ease-in;
          animation-timing-function: ease-in;
}

@-webkit-keyframes fadeIn {
  0% {
    visibility: visible;
    opacity: 1;
  }
  100% {
    visibility: hidden;
    opacity: 0;
    -webkit-transform: translateY(-10px);
            transform: translateY(-10px);
  }
}

@keyframes fadeIn {
  0% {
    visibility: visible;
    opacity: 1;
  }
  100% {
    visibility: hidden;
    opacity: 0;
    -webkit-transform: translateY(-10px);
            transform: translateY(-10px);
  }
}

.pseudo {
  background: linear-gradient(45deg, #000215, #002bff, #00ffcb);
}

div#rev {
  position: absolute;
  bottom: 0;
  font-size: 13px;
  color: #6f808e;
  -webkit-user-select: text;
     -moz-user-select: text;
      -ms-user-select: text;
          user-select: text;
}
/*# sourceMappingURL=style.css.map */